@import url('https://fonts.googleapis.com/css2?family=Timmana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #D9D9D9;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1e2225;
    padding: 15px;
}

.header a{
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
}

.header a img{
    width: 50px;
}

.header a h1{
    font-family: 'Timmana';
    margin-bottom: -12px;
    color: #76CCCF;
}

.header a h1 span{
    color: #FFFFFF;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar ul a{
    margin-inline: 30px;
    font-family: 'Be Vietnam Pro';
    font-weight: 200;
    font-size: 14px;
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.navbar ul a:hover{
    color: #F89E49;
}

.bg-container{
    position: relative;
    display: flex;
}

.bg-container .filler{
    display: flex;
    position: relative;
}

.bg-container .filler img{
    width: 100%;
    filter: brightness(0.5);
}

.bg-container .form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff8c;
    padding: 50px;
    border-radius: 10px;
}

.bg-container .form-container .form-content{
    text-align: center;
}

.bg-container .form-container .form-content .form{
    padding: 0 50px;
}

.bg-container .form-container .form-content h1{
    font-family: 'Be Vietnam Pro';
    font-size: 50px;
    color: #1e2225;
}

.bg-container .form-container .form-content p{
    font-family: 'Be Vietnam Pro';
    font-size: 12px;
    color: #363D43;
}

.bg-container .form-container .form-content button{
    margin-top: 30px;
    padding: 10px 25px;
    background-color: #F89E49;
    border: none;
    border-radius: 20px;
    font-family: 'Be Vietnam Pro';
    font-weight: 500;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.bg-container .form-container .form-content button:hover{
    background-color: #bb7636;
}

.bg-container .form-container .form-content p:nth-child(2){
    margin-bottom: 40px;
}

.bg-container .form-container .form-content p a{
    color: #F89E49;
    transition: color 0.1s ease-in-out;
    text-decoration: none;
}

.bg-container .form-container .form-content p a:hover{
    color: #bb7636;
}

.bg-container .form-container .form-content .field{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-block: 10px;
    font-family: 'Overpass';
}

.bg-container .form-container .form-content .field .control{
    margin-block: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff60;
    padding: 20px 30px;
    border-radius: 20px;
}

.bg-container .form-container .form-content .field img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 10px;
    filter: invert(21%) sepia(4%) saturate(2106%) hue-rotate(166deg) brightness(87%) contrast(83%);
}

.bg-container .form-container .form-content .field input{
    border: none;
    background-color: transparent;
    padding: 5px 20px;
}

.bg-container .form-container .form-content .field .term{
    font-size: 12px;
    color: #363D43;
}

.bg-container .form-container .form-content .field input:focus{
    outline: none;
}

.error{
    color: #ff3860;
    font-size: 12px;
}

.footer{
    background-color: #1e2225;
    padding: 70px 0;
}

.footer-container{
    width: 70%;
    margin: auto;
}

.footer ul{
    list-style-type: none;
}

.f-col{
    width: 25%;
    padding: 0 15px;
}

.f-col h4{
    font-family: 'Overpass';
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 700;
    position: relative;
}

.f-col h4::before{
    content: '';
    position: absolute;
    left: 1px;
    bottom: -8px;
    background-color: #F89E49;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.f-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.f-col ul li a{
    text-decoration: none;
    font-family: 'Overpass';
    font-weight: 300;
    font-size: 16px;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease-in-out;
}

.f-col ul li a:hover{
    color: #ffffff;
    padding-left: 7px;
}

.f-col .social-links a img{
    margin: 0 20px 0 0;
    width: 30px;
    transition: transform 0.3s ease-in-out;
}

.f-col .social-links a img:hover{
    transform: scale(1.1);
}

.f-row{
    display: flex;
    flex-wrap: wrap;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: -30px;
}

.copyright span{
    color: #ffffff;
    font-family: 'Overpass';
    font-size: 12px;
}

@media only screen and (max-width: 768px){
    .header a img{
        width: 30px;
    }
    
    .header a h1{
        margin-bottom: -9px;
        font-size: 24px;
    }

    .navbar ul a{
        margin-inline: 15px;
        font-size: 12px;
    }
    
    .bg-container .filler img{
        height: 1200px;
        object-fit: cover;
    }

    .f-col .social-links a img{
        margin: 0 10px 10px 0;
    }
}